# QUSA/requirements.txt

# data retreival
requests

# feature engineering 
numpy 
pandas 
pyyaml 
scipy

# clustering
matplotlib
scikit-learn

# modeling
joblib

# optional (for Monte Carlo visualization only, not required for features)
# seaborn
# yfinance